################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/S6SY761Touch/ARM64/Debug/S6SY761Touch.tlog
